

<form id="new-user-form" action="/createUser" method="POST" enctype="multipart/form-data">
	<input name="firstname" type="text" placeholder="First Name" required><br>
	<input name="lastname" type="text" placeholder="Last Name" required><br>
	<input name="username" type="text" placeholder="Make a Username" required><br>
	<input name="password" type="password" placeholder="Make a Password" required><br>
	<input name="avatar" type="file">
	<input name="email" type="email" placeholder="Email" required><br>
	<input type="submit" value="Submit">
</form>
